.t-error-popup {
	color: red;
	position: relative;
	margin-left: 265px;
	margin-top: 35px;
}

.t-error {
	color: red;
}

.t-invisible {
    display: none;
}

IMG.t-calendar-trigger {
    padding-left: 3px;
    cursor: pointer;
}

.t-data-grid thead tr th img {
    padding-left: 5px;
    vertical-align: middle;
}


/***********************************/
/* Exception page                  */

DIV.t-exception-message {
    font-style: italic;
    font-size: 12pt;
    border: thin dotted silver;
    margin: 5px 0px;
    padding: 3px;
}

DIV.t-exception-report, DIV.t-env-data {
    font-family: "Trebuchet MS", Arial, sans-serif;
}

DIV.t-exception-report LI {
    margin-left: -40px;
}

DIV.t-exception-report DT, DIV.t-env-data DT {
    color: green;
    padding-left: 2px;
    background-color: #FFFFCF;
}

DIV.t-exception-report LI {
    list-style: none;
}

SPAN.t-exception-class-name {
    display: block;
    margin-top: 15px;
    font-size: 12pt;
    background-color: #E1E1E1;
    color: blue;
    padding: 2px 3px;
    font-weight: bold;
}

SPAN.t-exception-stack-controls {
    display: block;
    float: right;
}

UL.t-stack-trace LI {
    font-family: Monaco, Times, monospace;
    font-size: 10pt;
    margin-left: -25px;
    list-style: square;
}

LI.t-usercode-frame {
    font-weight: bold;
    color: blue;
}

LI.t-omitted-frame {
    display: none;
    color: gray;
    list-style: square;
}

H1.t-exception-report {
    font-family: "Trebuchet MS", Arial, sans-serif;
    color: red;
}

DIV.t-exception-report DT:after {
    content: ":";
}

DIV.t-exception-report DD, DIV.t-env-data DD {
    margin-left: 10px;
}
